/* BASIC STYLES HERE */
body {
    background-image: url(https://www.bing.com/th/id/OGC.b5740faf4d50095c520996f6e8d51268?pid=1.7&rurl=https%3a%2f%2fmedia.giphy.com%2fmedia%2f5J9xRmZE6UNdS%2fgiphy.gif&ehk=x1woZ6JoBoPmBpFwE6rXXKoertjKiYSJuQa8mFT7mA4%3d);
    background-position: center;
    background-size: cover;
}